@model List<Produit>

@{

}

@*
<h1>@Model.Nom</h1>
<p>Prix : @Model.Prix.ToString("C")</p>
<p>Disponible : @(Model.Stock > 0 ? "Oui" : "non")</p>
*@


<h1>@ViewData["Title"]</h1>

<h2>@Model.Count produit(s)</h2>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Stock</th>
        </tr>
    </thead>
    @foreach(var produit in Model)
    {
        <tr>
            <td>@produit.Id</td>
            <td>@produit.Nom</td>
            <td>@produit.Prix.ToString("C")</td>
            <td>@produit.Stock</td>
        </tr>
    }
    
</table>

<hr />

@*  * Lien simple vers une action * *@
<a asp-controler="Produit" asp-action="Details" class="btn btn-primary">Voir les détails d'un produit</a>

@*  * Lien avec paramètres de route * *@
<a asp-controler="Produit" asp-action="DetailsAvecParametre" asp-route-id="5" class="btn btn-info">Détail du produit</a>

@*  * Lien avec plusieurs paramètres de route * *@
<a asp-controler="Produit" asp-action="List" asp-route-categorie="Electronique" asp-route-sort="Prix" class="btn btn-info">Produits éléctroniques</a>

